@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
* {
    -fx-font-family: 'PT Sans Narrow', sans-serif;
    -fx-font-size: 18;
    -fx-focus-color: transparent;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

.back_button{
    -fx-background-color:white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.table{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-view .column-header{
    -fx-background-color: black;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.combo-box{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 16;
    -fx-padding: -5 -5 -5 -5;
}

.title{
    -fx-font-size: 32;
}

.table-row-cell:selected {
    -fx-border-color: black;
}

.table:selected{
    -fx-border-style: none;
}

table-view:focused .table-row-cell:focused {
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.label{
    -fx-font-size: 28;
}

.price{
    -fx-opacity: 1.0;
}

.dialog-pane > .content.label {
    -fx-font-family: 'PT Sans Narrow', sans-serif;
    -fx-font-size: 18;
    -fx-focus-color: transparent;
}

#yes{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#cancel{
    -fx-background-color:white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}